{% extends 'base.html' %}

{% block title %}
    Добавление товара
{% endblock %}

{% block body %}
<div class="container">
<h1 class="display-4 fw-normal">Добавление товара</h1>

    <form method="post">
        <div class="col-sm-9">
            <label for="title" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Название товара</font></font></label>
            <input type="text" class="form-control" name="title" id="title" placeholder="Введите название товара"><br>
            <div class="invalid-feedback">
                Поле "Название товара" не заполнено.
            </div>
        </div>

        <div class="col-sm-3">
            <label for="price" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Цена товара</font></font></label>
            <input type="number" class="form-control" name="price" id="price" placeholder="Введите цену"><br>
            <div class="invalid-feedback">
                Поле "Цена товара" не заполнено.
            </div>
        </div>

        <div class="col-12">
            <label for="description" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Описание товара</font></font></label>
            <textarea class="form-control" name="description" id="description" placeholder="Введите описание товара"></textarea><br>
            <div class="invalid-feedback">
                Поле "Описание товара" не заполнено.
            </div>
        </div>

<!--        <div class="col-sm-3">-->
<!--            <label for="isActive" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Наличие на складе</font></font></label>-->
<!--            <input type="text" class="form-control" name="isActive" id="isActive" placeholder="Нет/Да"><br>-->
<!--            <div class="invalid-feedback">-->
<!--                Поле "Наличие на складе" не заполнено.-->
<!--            </div>-->
<!--        </div>-->

        <div class = "d-grip gap-2 col-6 mx-auto">
            <input type="submit" class="btn btn-success" value="Добавить">
        </div>
    </form>
</div>
{% endblock %}


